.all-users-container {
  padding: 1em;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  /* flex-direction: column; */
  /* background: indianred; */
  display: none;
}

#users-found {
  text-align: center;
  margin-top: 3em;
  font-family: "Quicksand", sans-serif;
  font-size: 1em;
  text-align: center;
  display: none;
}

.simple-user {
  margin: 1em;
  height: 15em;
  width: 23em;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  border-radius: 1em;
  padding-left: 0.5em;
  padding-right: 1em;
  background: rgba(255, 255, 255, 0.08);
}

.simple-user img {
  height: auto;
  width: 20%;
  border-radius: 1em;
  opacity: 0.9;
}

.simple-user h3 {
  color: #e0e0e0;
  font-family: "Quicksand", sans-serif;
  font-size: 1em;
}

@media only screen and (max-width: 1000px) {
}
