body {
  margin: 0;
  background-color: #333333;
  color: #e0e0e0;
}

* {
  box-sizing: border-box;
}

header {
  background-color: #6e6e6e;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: auto;
  width: 100%;
  padding-left: 7em;
  padding-right: 3em;
  flex-wrap: wrap;
}

.logo {
  height: 2em;
}

.search-container {
  position: relative;
  margin-bottom: 0.8em;
  width: 20em;
  height: 2.7em;
  margin-top: 1em;
}

input#search-bar {
  width: 100%;
  background: #3b3b3b;
  height: 100%;
  padding: 0 1.4em;
  font-size: 0.85em;
  border: 0.1em solid #e0e0e0;
  outline: none;
  color: #e0e0e0;
}

input#search-bar:focus {
  border: 0.16em solid #e0e0e0;
  transition: 0.35s ease;
  color: #e0e0e0;
}

input#search-bar::placeholder {
  color: #e0e0e0;
}

#search-icon {
  position: absolute;
  width: 2.5em;
  height: 2.5em;
  top: 0.5em;
  right: 0.5em;
}

@media only screen and (max-width: 600px) {
  header {
    flex-direction: column;
    padding: 0.5em;
  }

  .search-container {
    width: 100%;
  }
}
